body {
    margin: 0 auto;
    width: 1200px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}

header {
    border-radius: 20px;
    background-color: black;
    display: flex;
    justify-content: center
}

.header-section {
    color: white;
    width: 50%;
    padding-bottom: 30px;

}

.header-section h1 {
    width: 62%;
    font-size: 60px;
}

.header-section p {
    width: 70%;
    ;
}

.header-section button {
    background-color: red;
    padding: 14px 26px;
    border-radius: 5px;
    color: white;
}

.player-sidebar {
    width: 300px
}

.sidebar-menu {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.sidebar-menu button {
    width: 100%;
}


.player-section {
    margin-top: 30px;
    display: flex;
}

.player-sidebar {
    width: 300px;
    background-color: gray;
    display: flex;
    justify-content: center;
    padding: 28px 0;
    border-radius: 5px;
    margin-right: 10px;
}

.sidebar-menu {
    display: flex;
    width: 80%;
    flex-direction: column;
}

.sidebar-menu button {
    width: 100%;
    padding: 15px 0;
    margin-bottom: 7px;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    font-size: 16px;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
}

.item {
    margin-right: 8px;
}

.item-info {
    padding-top: 10px;
    padding-left: 15px;
}

.item-info button {
    padding: 5px 15px;
    border: 1px solid gray;
    border-radius: 2px;
}


.item-info p {
    font-weight: bold;
}

.item-info span {
    padding-right: 30px;
}