body {
    margin: 0 auto;
    width: 1200px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}

header {
    border-radius: 20px;
    background-color: black;
    display: flex;
    justify-content: center
}

.header-section {
    color: white;
    width: 50%;
    padding-bottom: 30px;

}

.header-section h1 {
    width: 62%;
    font-size: 60px;
}

.header-section p {
    width: 70%;
    ;
}

.header-section button {
    background-color: red;
    padding: 14px 26px;
    border-radius: 5px;
    color: white;
}